<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="con" connectionString="Data Source=(localDb)\localhost;Initial Catalog=Juice;Integrated Security=True;"/>
    <add name="BookShopMangement.Properties.Settings.JuiceConnectionString" connectionString="Data Source=(localDb)\localhost;Initial Catalog=Juice;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
